{{#partial "content"}}
    <div class="overlay" style="width:50%">
        <div class="page-header mt-4">
             <h1>Hero {{hero.name}} details</h1>
        </div>
        <p>Name:{{hero.name}}</p>
        <p>Age: {{hero.age}}</p>
        <p>Power: {{hero.power}}</p>
        <p>Weakness: {{hero.weakness}}</p>
        <p>Squad: {{squad.name}}</p>
        <a  href="/hero/{{hero.id}}/delete" class="btn btn-primary">Delete</a>
        <a href="/hero/{{hero.id}}/edit" class="btn btn-primary">Update</a>
    </div>

{{/partial}}
{{>layout.hbs}}