{{#partial "content"}}

    <h1 class="text-center bg-light mt-2">Heroes</h1>
    <div class="row">
    {{#if heroes}}
        {{#each heroes}}

            <div class="col-sm-4 text-center">
            <div class="card mb-4">
                <div class="card-body">
                <p class="card-title text-center"> <span>{{name}}</span></p>
                <p class="card-text">Age: {{age}}</p>
                <p>Super Powers: {{power}}</p>
                <p>Weakness: {{weakness}}</p>
                    <a  href="/heroes/{{hero.id}}/delete" class="btn btn-primary">Delete</a>
                    <a href="/heroes/{{hero.id}}/update" class="btn btn-primary">Update</a>
                    <a  href="/squad" class="btn btn-primary">Add to a squad</a>
                </div>
            </div>
            </div>

        {{/each}}
        </div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <a class="btn btn-primary" href="/heroes/delete">Delete all heroes</a>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary"href="/heroes/new">Add another hero</a>
    </div>
    <div class="col-md-3"></div>
</div>
    {{else}}
        <a class="pl-5 text-white" id="fontsize" href="/heroes/new">No Heroes yet! Click to add a Hero</a>
    {{/if}}
{{/partial}}
{{>layout.hbs}}