

{{#partial "styles"}}
    <link rel='stylesheet' href='/css/styles.css'>
{{/partial}}

{{#partial "content"}}
    {{#if editSquad}}
        <h1 class="text-white">Edit your Hero's entries!</h1>
        <div class="formClass">
        <form action="/heroes/{{hero.id}}" method="post" class="form-group">

            <label for="name">Name</label>
            <input id="name" name="name" type="text" value="{{hero.name}}" class="form-control"><br>

            <label for="age">Age</label>
            <input id="age" name="age" type="text" value="{{hero.age}}"class="form-control"><br>

            <label for="power">Powers</label>
            <input id="specialPowers" name="power" type="text" value="{{hero.power}}" class="form-control"><br>

            <label for="weakness">Weakness</label>
            <input id="weakness" name="weakness" type="text" value="{{hero.weakness}}" class="form-control"><br>
            <label for="squadId">Squad</label>
            <select class="form-control" name="squadId" id="squadId" required>
                {{#each squads}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>



            <button type="submit" class="btn btn-primary" >Update Hero</button>
        </form>
        </div>
    {{else}}

        <h1 class="text-white">Add Hero!</h1>

        <div class="formClass">
            <form action="/heroes" method="POST" class="form-group form">
            <div class="md-form">
                <label id="h1-1" for="name">Name</label>
                <input id="name" name="name" type="text" class="form-control" required>
            </div>
            <div class="md-form">
                <label id="h1-1" for="age">Age</label>
                <input id="age" name="age" type="text" class="form-control" required><br>
            </div>
            <div class="md-form">
                <label id="h1-1" for="power">Power</label>
                <input id="power" name="power" type="text" class="form-control" required>
            </div>
            <div class="md-form">
                <label id="h1-1" for="weakness">Weakness</label>
                <input id="weakness" name="weakness" type="text" class="form-control" required>
            </div>
                <div class="md-form">
                    <label for="squadId">Squad</label>
                    <select class="form-control" name="squadId" id="squadId" required>
                        {{#each squads}}
                            <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
<!--                    <a href="/squad/new"><p class="text white">Create your own squad</p></a>-->
                </div>
            <button type="submit"  class="btn btn-primary mt-4">Add Hero</button>
        </form>

        </div>

    {{/if}}
{{/partial}}

{{> layout.hbs}}


