{{#partial "content"}}
    {{#if editSquad}}
        <h1>Edit this squad!</h1>
        <form action="/squads/{{squad.id}}" method="post">
            <label for="name">Edit this squad's name</label>
            <input id="newSquadName" name="newSquadName" type="text" value="{{squad.name}}">
            <label for="maxSize" >Edit this squad's maximum size</label>
            <input id="newSquadMaxSize" name="newSquadMaxSize" type="number" value="{{squad.maxSize}}">
            <label>Edit this squad's cause</label>
            <input type="text" name="newSquadCause" id="newSquadCause" value="{{squad.cause}}">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{else}}
        <h1 class="text-white">Add a new Squad!</h1>
        <div class="formClass">
        <form action="/squads" method="post" class="form">
            <div class="md-form">
                <label id="h1-1" for="name">Squad Name</label>
                <input id="name" name="name" type="text" class="form-control" required>
            </div>
            <div class="md-form">
                <label id="h1-1" for="maxSize">Maximum Size</label>
                <input id="maxSize" name="maxSize" type="number" class="form-control" required><br>
            </div>
            <div class="md-form">
                <label id="h1-1" for="cause">Squad Cause</label>
                <input id="cause" name="cause" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}