{{#partial "content"}}
    {{#if editSquad}}
        <h1 class="text-white">Edit your squads's entries!</h1>
        <div class="formClass">
            <form action="/squad/{{squad.id}}" method="post" class="form-group">

                <label for="name">Name</label>
                <input id="name" name="name" type="text" value="{{squad.name}}" class="form-control"><br>

                   <label for="maxSize" >Edit this squad's maximum size</label>
                <input id="age" name="maxSize" type="text" value="{{squad.maxSize}}"class="form-control"><br>

                <label>Edit this squad's cause</label>
                <input id="cause" name="cause" type="text" value="{{squad.cause}}" class="form-control"><br>
                <button type="submit" class="btn btn-primary" >Update Squad</button>
            </form>
        </div>
    {{else}}
        <h1 class="text-white">Add a new Squad!</h1>
        <div class="formClass">
        <form action="/squads" method="post" class="form">
            <div class="md-form">
                <label id="h1-1" for="name">Squad Name</label>
                <input id="name" name="name" type="text" class="form-control" required>
            </div>
            <div class="md-form">
                <label id="h1-1" for="maxSize">Maximum Size</label>
                <input id="maxSize" name="maxSize" type="number" class="form-control" required><br>
            </div>
            <div class="md-form">
                <label id="h1-1" for="cause">Squad Cause</label>
                <input id="cause" name="cause" type="text" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}