{{#partial "content"}}
    {{#if editSquad}}
        <h1>Edit this squad!</h1>
        <form action="/squads/{{squad.id}}" method="post">
            <label for="name">Edit this squad's name</label>
            <input id="newSquadName" name="newSquadName" type="text" value="{{squad.name}}">
            <label for="maxSize" >Edit this squad's maximum size</label>
            <input id="newSquadMaxSize" name="newSquadMaxSize" type="number" value="{{squad.maxSize}}">
            <label>Edit this squad's cause</label>
            <input type="text" name="newSquadCause" id="newSquadCause" value="{{squad.cause}}">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{else}}
        <h1>Add a new Squad!</h1>
        <form action="/squads" method="post">
            <label for="name">Squad Name</label>
            <input id="name" name="name" type="text">
            <label for="maxSize">Squad Maximum Size</label>
            <input type="number" name="maxSize" id="maxSize">
            <label for="cause"> Squad Cause</label>
            <input type="text" id="cause" name="cause">
            <button type="submit" class="btn btn-default">Go!</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}