{{#partial "content"}}

    <h1 class="text-center bg-light mt-2">Squads</h1>
    <div class="row">
    {{#if squads}}
        {{#each squads}}

                <div class="col-sm-4 text-center">
                    <div class="card mb-4">
                        <div class="card-body">
                            <p class="card-title text-center"> <span>{{name}}</span></p>
                            <p class="card-text">Maximum Size: {{maxSize}}</p>
                            <p class="card-text">Cause: {{cause}}</p>
                            <a  href="/squad/{{id}}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>

        {{/each}}
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a class="btn btn-primary" href="/squads/delete">Delete all squads</a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-primary"href="/squad/new">Add another squad</a>
            </div>
            <div class="col-md-3"></div>
        </div>
    {{else}}
        <a class="pl-5 text-white" id="fontsize" href="/squad/new">No squads yet! Click to add</a>
    {{/if}}
{{/partial}}
{{>layout.hbs}}